<%= form_with(model: persona) do |form| %>
  <% if persona.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(persona.errors.count, "error") %> prohibited this persona from being saved:</h2>

      <ul>
        <% persona.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%# form.label :name %>
    <%= form.text_field :name, class:"form-control mb-2", placeholder:"Name" %>
  </div>

  <div class="field form-group">
    <%# form.label :arcana %>
    <%= form.text_field :arcana, class:"form-control mb-2", placeholder:"Arcana" %>
  </div>

  <div class="field form-group">
    <%# form.label :level %>
    <%= form.number_field :level, class:"form-control", placeholder:"level" %>
  </div>

  <div class="actions mt-3">
    <%= form.submit class:"btn btn-success" %>
  </div>
<% end %>
